{:ns "cljs.source-map", :name "indexed-sources", :file "cljs/source_map.clj", :type :fn, :src "(defn indexed-sources\n  \"Take a seq of source file names and return a map from\n   file number to integer index.\"\n  [sources]\n  (->> sources\n    (map-indexed (fn [a b] [a b]))\n    (reduce (fn [m [i v]] (assoc m v i)) {})))", :column 1, :line 35, :arglists ([sources]), :doc "Take a seq of source file names and return a map from\n   file number to integer index."}