{:type :var, :src "(defprotocol IJavaScriptEnv\n  (-setup [this] \"initialize the environment\")\n  (-evaluate [this filename line js] \"evaluate a javascript string\")\n  (-load [this ns url] \"load code at url into the environment\")\n  (-tear-down [this] \"dispose of the environment\"))", :doc nil, :ns "cljs.repl", :name "IJavaScriptEnv", :file "cljs/repl.clj", :column 1, :line 26}