{:ns "cljs.repl.server", :name "set-connection", :file "cljs/repl/server.clj", :type :fn, :src "(defn set-connection\n  \"Given a new available connection, either use it to deliver the\n  connection which was promised or store the connection for later\n  use.\"\n  [conn]\n  (if-let [promised-conn (:promised-conn @state)]\n    (do (swap! state (fn [old] (-> old\n                                         (assoc :connection nil)\n                                         (assoc :promised-conn nil))))\n        (deliver promised-conn conn))\n    (swap! state (fn [old] (assoc old :connection conn)))))", :column 1, :line 32, :arglists ([conn]), :doc "Given a new available connection, either use it to deliver the\n  connection which was promised or store the connection for later\n  use."}