{:ns "cljs.tagged-literals", :name "read-inst", :file "cljs/tagged_literals.clj", :type :fn, :src "(defn read-inst\n  [form]\n  (when-not (string? form)\n    (throw (RuntimeException. \"Instance literal expects a string for its timestamp.\")))\n  (try\n    (inst/read-instant-date form)\n    (catch Throwable e\n      (throw (RuntimeException. (.getMessage e))))))", :column 1, :line 19, :arglists ([form])}