{:ns "cljs.repl.reflect", :name "parse-param", :file "cljs/repl/reflect.clj", :type :fn, :src "(defn parse-param\n  \"Parses the query parameter of a path of the form \\\"/reflect?var=foo\\\"\n  into the vector [\\\"var\\\" \\\"foo\\\"].\"\n  [path]\n  (-> (str/split path #\"\\?\")\n      (last)\n      (str/split #\"=\")))", :column 1, :line 44, :arglists ([path]), :doc "Parses the query parameter of a path of the form \"/reflect?var=foo\"\n  into the vector [\"var\" \"foo\"]."}