{:ns "cljs.analyzer", :name "confirm-var-exists", :file "cljs/analyzer.clj", :type :fn, :src "(defn confirm-var-exists [env prefix suffix]\n  (let [sufstr (str suffix)\n        suffix (symbol\n                 (if (re-find #\"\\.\" sufstr)\n                   (first (string/split sufstr #\"\\.\"))\n                   suffix))]\n    (when (and (not (implicit-import? env prefix suffix))\n               (not (and (not (get-in @env/*compiler* [::namespaces prefix]))\n                         (or (get (:requires (:ns env)) prefix)\n                             (get (:imports (:ns env)) prefix))))\n               (not (get-in @env/*compiler* [::namespaces prefix :defs suffix])))\n      (warning :undeclared-var env {:prefix prefix :suffix suffix}))))", :column 1, :line 306, :arglists ([env prefix suffix])}