{:ns "cljs.closure", :name "build-provides", :file "cljs/closure.clj", :type :fn, :src "(defn build-provides\n  \"Given a vector of provides, builds required goog.provide statements\"\n  [provides]\n  (apply str (map #(str \"goog.provide('\" % \"');\\n\") provides)))", :column 1, :line 583, :arglists ([provides]), :doc "Given a vector of provides, builds required goog.provide statements"}