{:ns "cljs.core", :name "defmethod", :file "cljs/core.clj", :type :macro, :src "(defmacro defmethod\n  \"Creates and installs a new method of multimethod associated with dispatch-value. \"\n  [multifn dispatch-val & fn-tail]\n  `(-add-method ~(with-meta multifn {:tag 'cljs.core/MultiFn}) ~dispatch-val (fn ~@fn-tail)))", :column 1, :line 1589, :macro true, :arglists ([multifn dispatch-val & fn-tail]), :doc "Creates and installs a new method of multimethod associated with dispatch-value. "}