{:ns "cljs.core", :name "fast-path-protocol-partitions-count", :file "cljs/core.clj", :type :var, :src "(def fast-path-protocol-partitions-count\n  \"total number of partitions\"\n  (let [c (count fast-path-protocols)\n        m (core/mod c 32)]\n    (if (core/zero? m)\n      (core/quot c 32)\n      (core/inc (core/quot c 32)))))", :column 1, :line 199, :doc "total number of partitions"}