{:ns "cljs.compiler", :name "emits-keyword", :file "cljs/compiler.clj", :type :fn, :src "(defn emits-keyword [kw]\n  (let [ns   (namespace kw)\n        name (name kw)]\n    (emits \"new cljs.core.Keyword(\")\n    (emit-constant ns)\n    (emits \",\")\n    (emit-constant name)\n    (emits \",\")\n    (emit-constant (if ns\n                     (str ns \"/\" name)\n                     name))\n    (emits \",\")\n    (emit-constant (hash kw))\n    (emits \")\")))", :column 1, :line 184, :arglists ([kw])}