{:ns "cljs.compiler", :name "emit-fn-method", :file "cljs/compiler.clj", :type :fn, :src "(defn emit-fn-method\n  [{:keys [type name variadic params expr env recurs max-fixed-arity]}]\n  (emit-wrap env\n    (emits \"(function \" (munge name) \"(\")\n    (emit-fn-params params)\n    (emitln \"){\")\n    (when type\n      (emitln \"var self__ = this;\"))\n    (when recurs (emitln \"while(true){\"))\n    (emits expr)\n    (when recurs\n      (emitln \"break;\")\n      (emitln \"}\"))\n    (emits \"})\")))", :column 1, :line 487, :arglists ([{:keys [type name variadic params expr env recurs max-fixed-arity]}])}