{:ns "cljs.compiler", :name "rename-to-js", :file "cljs/compiler.clj", :type :fn, :src "(defn rename-to-js\n  \"Change the file extension from .cljs to .js. Takes a File or a\n  String. Always returns a String.\"\n  [file-str]\n  (clojure.string/replace file-str #\"\\.cljs$\" \".js\"))", :column 1, :line 850, :arglists ([file-str]), :doc "Change the file extension from .cljs to .js. Takes a File or a\n  String. Always returns a String."}