{:ns "cljs.source-map.base64-vlq", :name "to-vlq-signed", :file "cljs/source_map/base64_vlq.clj", :type :fn, :src "(defn to-vlq-signed [v]\n  (if (neg? v)\n    (inc (bit-shift-left (- v) 1))\n    (+ (bit-shift-left v 1) 0)))", :column 1, :line 13, :arglists ([v])}