{:ns "cljs.util", :name "to-target-file", :file "cljs/util.clj", :type :fn, :src "(defn ^File to-target-file\n  [target-dir ns-info]\n  (let [relative-path (string/split (munge-path (str (:ns ns-info))) #\"\\.\")\n        parents       (butlast relative-path)]\n    (io/file (io/file (to-path (cons target-dir parents)))\n      (str (last relative-path) \".js\"))))", :column 1, :line 58, :tag java.io.File, :arglists ([target-dir ns-info])}