{:ns "cljs.js-deps", :name "js-dependency-index", :file "cljs/js_deps.clj", :type :fn, :src "(defn js-dependency-index\n  \"Returns the index for all JavaScript dependencies. Lookup by\n  namespace or file name.\"\n  [opts]\n  ; (library-dependencies) will find all of the same libs returned by\n  ; (goog-dependencies), but the latter returns some additional/different\n  ; information (:file instead of :url, :group), so they're folded in last to\n  ; take precedence in the returned index.  It is likely that\n  ; (goog-dependencies), special-casing of them, goog/deps.js, etc can be\n  ; removed entirely, but verifying that can be a fight for another day.\n  (build-index (concat (library-dependencies opts) (goog-dependencies))))", :column 1, :line 255, :arglists ([opts]), :doc "Returns the index for all JavaScript dependencies. Lookup by\n  namespace or file name."}