{:ns "cljs.js-deps", :name "library-dependencies", :file "cljs/js_deps.clj", :type :fn, :src "(defn library-dependencies\n  [{libs :libs foreign-libs :foreign-libs\n    ups-libs :ups-libs ups-flibs :ups-foreign-libs}]\n  (concat\n    (mapcat load-library ups-libs) ;upstream deps\n    ; :libs are constrained to filesystem-only at this point; see\n    ; `find-classpath-lib` for goog-style JS library lookup\n    (mapcat load-library (filter #(.exists (io/file %)) libs))\n    (map #(load-foreign-library % true) ups-flibs) ;upstream deps\n    (map load-foreign-library foreign-libs)))", :column 1, :line 202, :arglists ([{libs :libs, foreign-libs :foreign-libs, ups-libs :ups-libs, ups-flibs :ups-foreign-libs}])}