{:ns "cljs.tagged-literals", :name "read-js", :file "cljs/tagged_literals.clj", :type :fn, :src "(defn read-js\n  [form]\n  (when-not (or (vector? form) (map? form))\n    (throw (RuntimeException. \"JavaScript literal must use map or vector notation\")))\n  (when-not (or (not (map? form))\n                (every? valid-js-literal-key? (keys form)))\n    (throw (RuntimeException. \"JavaScript literal keys must be strings or unqualified keywords\")))\n  (JSValue. form))", :column 1, :line 35, :arglists ([form])}