{:ns "cljs.core", :name "annotate-specs", :file "cljs/core.clj", :type :fn, :src "(defn annotate-specs [annots v [f sigs]]\n  (conj v\n    (vary-meta (cons f (map #(cons (second %) (nnext %)) sigs))\n      merge annots)))", :column 1, :line 851, :arglists ([annots v [f sigs]])}