{:ns "cljs.repl.server", :name "connection", :file "cljs/repl/server.clj", :type :fn, :src "(defn connection\n  \"Promise to return a connection when one is available. If a\n  connection is not available, store the promise in server/state.\"\n  []\n  (let [p (promise)\n        conn (:connection @state)]\n    (if (and conn (not (.isClosed conn)))\n      (do (deliver p conn)\n          p)\n      (do (swap! state (fn [old] (assoc old :promised-conn p)))\n          p))))", :column 1, :line 20, :arglists ([]), :doc "Promise to return a connection when one is available. If a\n  connection is not available, store the promise in server/state."}