{:ns "cljs.closure", :name "report-failure", :file "cljs/closure.clj", :type :fn, :src "(defn report-failure [^Result result]\n  (let [errors (.errors result)\n        warnings (.warnings result)]\n    (doseq [next (seq errors)]\n      (println \"ERROR:\" (.toString ^JSError next)))\n    (doseq [next (seq warnings)]\n      (println \"WARNING:\" (.toString ^JSError next)))))", :column 1, :line 223, :arglists ([result])}