{:ns "cljs.repl.server", :name "send-404", :file "cljs/repl/server.clj", :type :fn, :src "(defn send-404 [conn path]\n  (send-and-close conn 404\n                  (str \"<html><body>\"\n                       \"<h2>Page not found</h2>\"\n                       \"No page \" path \" found on this server.\"\n                       \"</body></html>\")\n                  \"text/html\"))", :column 1, :line 130, :arglists ([conn path])}