{:ns "cljs.core", :name "array", :file "cljs/core.clj", :type :macro, :src "(defmacro array [& rest]\n  (let [xs-str (->> (repeat \"~{}\")\n                    (take (count rest))\n                    (interpose \",\")\n                    (apply core/str))]\n    (vary-meta\n      (list* 'js* (core/str \"[\" xs-str \"]\") rest)\n      assoc :tag 'array)))", :column 1, :line 1396, :macro true, :arglists ([& rest])}