{:ns "cljs.analyzer", :name "confirm-ns", :file "cljs/analyzer.clj", :type :fn, :src "(defn confirm-ns [env ns-sym]\n  (when (and (nil? (get '#{cljs.core goog Math goog.string} ns-sym))\n             (nil? (get (-> env :ns :requires) ns-sym))\n             ;; macros may refer to namespaces never explicitly required\n             ;; confirm that the library at least exists\n             (nil? (io/resource (util/ns->relpath ns-sym))))\n    (warning :undeclared-ns env {:ns-sym ns-sym})))", :column 1, :line 323, :arglists ([env ns-sym])}