{:ns "cljs.analyzer", :name "confirm-bindings", :file "cljs/analyzer.clj", :type :fn, :src "(defn confirm-bindings [env names]\n  (doseq [name names]\n    (let [env (assoc env :ns (get-namespace *cljs-ns*))\n          ev (resolve-existing-var env name)]\n      (when (and ev (not (-> ev :dynamic)))\n        (warning :dynamic env {:ev ev})))))", :column 1, :line 406, :arglists ([env names])}