{:ns "cljs.repl.browser", :name "run-in-order", :file "cljs/repl/browser.clj", :type :fn, :src "(defn run-in-order [{:keys [expecting fns]}]\n  (loop [order expecting\n         fns fns]\n    (if-let [f (get fns order)]\n      (do (f)\n          (recur (inc order) (dissoc fns order)))\n      {:expecting order :fns fns})))", :column 1, :line 128, :arglists ([{:keys [expecting fns]}])}