{:ns "cljs.analyzer", :name "empty-env", :file "cljs/analyzer.clj", :type :fn, :src "(defn empty-env []\n  (env/ensure\n    {:ns (get-namespace *cljs-ns*)\n     :context :statement\n     :locals {}\n     :js-globals (into {}\n                   (map #(vector % {:name %})\n                     '(alert window document console escape unescape\n                       screen location navigator history location\n                       global process require module exports)))}))", :column 1, :line 251, :arglists ([])}