{:ns "cljs.core", :name "bit-and-not", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric bit-and-not\n  ([x y] (core/list 'js* \"(~{} & ~~{})\" x y))\n  ([x y & more] `(bit-and-not (bit-and-not ~x ~y) ~@more)))", :column 1, :line 512, :macro true, :arglists ([x y] [x y & more]), :cljs.analyzer/numeric true}