{:ns "cljs.source-map", :name "seg->map", :file "cljs/source_map.clj", :type :fn, :src "(defn seg->map\n  \"Take a source map segment represented as a vector\n   and return a map.\"\n  [seg source-map]\n  (let [[gcol source line col name] seg]\n   {:gcol   gcol\n    :source (nth (:sources source-map) source)\n    :line   line\n    :col    col\n    :name   (when-let [name (-> seg meta :name)]\n              (nth (:names source-map) name))}))", :column 1, :line 53, :arglists ([seg source-map]), :doc "Take a source map segment represented as a vector\n   and return a map."}