{:ns "cljs.util", :name "clojurescript-version", :file "cljs/util.clj", :type :fn, :src "(defn clojurescript-version \n  \"Returns clojurescript version as a printable string.\"\n  []\n  (if (bound? #'*clojurescript-version*)\n    (str\n     (:major *clojurescript-version*)\n     \".\"\n     (:minor *clojurescript-version*)\n     (when-let [i (:incremental *clojurescript-version*)]\n       (str \".\" i))\n     (when-let [q (:qualifier *clojurescript-version*)]\n       (str \"-\" q))\n     (when (:interim *clojurescript-version*)\n       \"-SNAPSHOT\"))\n    \"\"))", :column 1, :line 17, :arglists ([]), :doc "Returns clojurescript version as a printable string."}