{:type :fn, :src "(defrecord JavaScriptFile [foreign ^URL url ^URL source-url provides requires lines source-map]\n  deps/IJavaScript\n  (-foreign? [this] foreign)\n  (-url [this] url)\n  (-provides [this] provides)\n  (-requires [this] requires)\n  (-source [this]\n    (with-open [reader (io/reader url)]\n      (slurp reader)))\n  ISourceMap\n  (-source-url [this] source-url)\n  (-source-map [this] source-map))", :ns "cljs.closure", :name "map->JavaScriptFile", :file "cljs/closure.clj", :column 1, :line 260, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.closure.JavaScriptFile, taking a map of keywords to field values."}