{:ns "cljs.source-map", :name "source-compare", :file "cljs/source_map.clj", :type :fn, :src "(defn source-compare\n  \"Take a seq of source file names and return a comparator\n   that can be used to construct a sorted map.\"\n  [sources]\n  (let [sources (indexed-sources sources)]\n    (fn [a b] (compare (sources a) (sources b)))))", :column 1, :line 43, :arglists ([sources]), :doc "Take a seq of source file names and return a comparator\n   that can be used to construct a sorted map."}