{:ns "cljs.closure", :name "map->javascript-file", :file "cljs/closure.clj", :type :fn, :src "(defn map->javascript-file [m]\n  (javascript-file\n    (:foreign m)\n    (when-let [f (:file m)]\n      (deps/to-url f))\n    (when-let [sf (:source-file m)]\n      (deps/to-url sf))\n    (:provides m)\n    (:requires m)\n    (:lines m)\n    (:source-map m)))", :column 1, :line 280, :arglists ([m])}