{:ns "cljs.analyzer", :name "analyze-list", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-list\n  [env form]\n  (let [expr-env (assoc env :context :expr)\n        items (disallowing-recur (doall (map #(analyze expr-env %) form)))]\n    (analyze-wrap-meta {:op :list :env env :form form :items items :children items :tag 'cljs.core/IList})))", :column 1, :line 1532, :arglists ([env form])}