{:ns "cljs.closure", :name "compiled-file", :file "cljs/closure.clj", :type :fn, :src "(defn compiled-file\n  \"Given a map with at least a :file key, return a map with\n   {:file .. :provides .. :requires ..}.\n\n   Compiled files are cached so they will only be read once.\"\n  [m]\n  (let [path (.getPath (.toURL ^File (:file m)))\n        js (if (:provides m)\n             (map->javascript-file m)\n             (if-let [js (get-in @env/*compiler* [::compiled-cljs path])]\n               js\n               (read-js (:file m))))]\n    (do (swap! env/*compiler* update-in [::compiled-cljs] assoc path js)\n        js)))", :column 1, :line 319, :arglists ([m]), :doc "Given a map with at least a :file key, return a map with\n   {:file .. :provides .. :requires ..}.\n\n   Compiled files are cached so they will only be read once."}