{:ns "cljs.js-deps", :name "find-js-fs", :file "cljs/js_deps.clj", :type :fn, :src "(defn find-js-fs\n  \"finds js resources from a path on the files system\"\n  [path]\n  (let [file (io/file path)]\n    (when (.exists file)\n      (map to-url (filter #(.endsWith ^String (.getName ^File %) \".js\") (file-seq (io/file path)))))))", :column 1, :line 41, :arglists ([path]), :doc "finds js resources from a path on the files system"}