{:ns "cljs.core", :name "max", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric max\n  ([x] x)\n  ([x y] `(let [x# ~x, y# ~y]\n            (~'js* \"((~{} > ~{}) ? ~{} : ~{})\" x# y# x# y#)))\n  ([x y & more] `(max (max ~x ~y) ~@more)))", :column 1, :line 474, :macro true, :arglists ([x] [x y] [x y & more]), :cljs.analyzer/numeric true}