{:ns "cljs.js-deps", :name "jar-entry-names*", :file "cljs/js_deps.clj", :type :fn, :src "(defn jar-entry-names* [jar-path]\n  (with-open [z (java.util.zip.ZipFile. jar-path)]\n    (doall (map #(.getName %) (enumeration-seq (.entries z))))))", :column 1, :line 20, :arglists ([jar-path])}