{:ns "cljs.js-deps", :name "dependency-order", :file "cljs/js_deps.clj", :type :fn, :src "(defn dependency-order\n  \"Topologically sort a collection of dependencies.\"\n  [coll]\n  (let [state (build-index (map pack-string coll))]\n    (map unpack-string\n         (distinct\n          (:order (reduce dependency-order-visit (assoc state :order []) (keys state)))))))", :column 1, :line 145, :arglists ([coll]), :doc "Topologically sort a collection of dependencies."}