{:ns "cljs.core", :name "bit-clear", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric bit-clear [x n]\n  (core/list 'js* \"(~{} & ~(1 << ~{}))\" x n))", :column 1, :line 516, :macro true, :arglists ([x n]), :cljs.analyzer/numeric true}