{:ns "cljs.repl.server", :name "start", :file "cljs/repl/server.clj", :type :fn, :src "(defn start\n  \"Start the server on the specified port.\"\n  [opts]\n  (let [ss (ServerSocket. (:port opts))]\n    (future (server-loop opts ss))\n    (swap! state (fn [old] (assoc old :socket ss :port (:port opts))))))", :column 1, :line 164, :arglists ([opts]), :doc "Start the server on the specified port."}