{:ns "cljs.repl.server", :name "read-request", :file "cljs/repl/server.clj", :type :fn, :src "(defn read-request [rdr]\n  (let [line (.readLine rdr)]\n    (cond (.startsWith line \"POST\") (read-post line rdr)\n          (.startsWith line \"GET\") (read-get line rdr)\n          :else {:method :unknown :content line})))", :column 1, :line 95, :arglists ([rdr])}