{:ns "cljs.js-deps", :name "find-js-jar", :file "cljs/js_deps.clj", :type :fn, :src "(defn find-js-jar\n  \"Returns a seq of URLs of all JavaScript resources in the given jar\"\n  [jar-path lib-path]\n  (map io/resource\n    (filter #(and\n               (.endsWith ^String % \".js\")\n               (.startsWith ^String % lib-path))\n      (jar-entry-names jar-path))))", :column 1, :line 26, :arglists ([jar-path lib-path]), :doc "Returns a seq of URLs of all JavaScript resources in the given jar"}