{:ns "cljs.compiler", :name "cljs-files-in", :file "cljs/compiler.clj", :type :fn, :src "(defn cljs-files-in\n  \"Return a sequence of all .cljs files in the given directory.\"\n  [dir]\n  (filter #(let [name (.getName ^File %)]\n             (and (.endsWith name \".cljs\")\n                  (not= \\. (first name))\n                  (not (contains? cljs-reserved-file-names name))))\n          (file-seq dir)))", :column 1, :line 979, :arglists ([dir]), :doc "Return a sequence of all .cljs files in the given directory."}