{:ns "cljs.js-deps", :name "dependency-order-visit", :file "cljs/js_deps.clj", :type :fn, :src "(defn dependency-order-visit\n  [state ns-name]\n  (let [file (get state ns-name)]\n    (if (or (:visited file) (nil? file))\n      state\n      (let [state (assoc-in state [ns-name :visited] true)\n            deps (:requires file)\n            state (reduce dependency-order-visit state deps)]\n        (assoc state :order (conj (:order state) file))))))", :column 1, :line 124, :arglists ([state ns-name])}