{:ns "cljs.source-map.base64-vlq", :name "decode", :file "cljs/source_map/base64_vlq.clj", :type :fn, :src "(defn decode [^String s]\n  (let [l (.length s)]\n    (loop [i 0 result 0 shift 0]\n      (when (>= i l)\n        (throw (Error. \"Expected more digits in base 64 VLQ value.\")))\n      (let [digit (base64/decode (.charAt s i))]\n        (let [i (inc i)\n              continuation? (pos? (bit-and digit vlq-continuation-bit))\n              digit (bit-and digit vlq-base-mask)\n              result (+ result (bit-shift-left digit shift))\n              shift (+ shift vlq-base-shift)]\n          (if continuation?\n            (recur i result shift)\n            (lazy-seq\n             (cons (from-vlq-signed result)\n                   (let [s (.substring s i)]\n                     (when-not (string/blank? s)\n                       (decode s)))))))))))", :column 1, :line 41, :arglists ([s])}