{:ns "cljs.repl.browser", :name "repl-client-js", :file "cljs/repl/browser.clj", :type :fn, :src "(defn repl-client-js []\n  (slurp @(:client-js @browser-state)))", :column 1, :line 49, :arglists ([])}