{:ns "cljs.analyzer", :name "*cljs-warnings*", :file "cljs/analyzer.clj", :type :var, :src "(def ^:dynamic *cljs-warnings*\n  {:preamble-missing true\n   :unprovided true\n   :undeclared-var false\n   :undeclared-ns false\n   :undeclared-ns-form true\n   :redef true\n   :dynamic true\n   :fn-var true\n   :fn-arity true\n   :fn-deprecated true\n   :protocol-deprecated true\n   :undeclared-protocol-symbol true\n   :invalid-protocol-symbol true\n   :multiple-variadic-overloads true\n   :variadic-max-arity true\n   :overload-arity true\n   :extending-base-js-type true\n   :invoke-ctor true\n   :invalid-arithmetic true\n   :protocol-invalid-method true\n   :protocol-duped-method true\n   :protocol-multiple-impls true})", :column 1, :dynamic true, :line 38}