{:ns "cljs.closure", :name "jar-file-to-disk", :file "cljs/closure.clj", :type :fn, :src "(defn jar-file-to-disk\n  \"Copy a file contained within a jar to disk. Return the created file.\"\n  [url out-dir]\n  (let [out-file (io/file out-dir (path-from-jarfile url))\n        content (with-open [reader (io/reader url)]\n                  (slurp reader))]\n    (do (comp/mkdirs out-file)\n        (spit out-file content)\n        out-file)))", :column 1, :line 361, :arglists ([url out-dir]), :doc "Copy a file contained within a jar to disk. Return the created file."}