{:ns "cljs.core", :name "defonce", :file "cljs/core.clj", :type :macro, :src "(defmacro defonce [x init]\n  `(when-not (exists? ~x)\n     (def ~x ~init)))", :column 1, :line 69, :macro true, :arglists ([x init])}