{:ns "cljs.analyzer.utils", :name "to-ast", :file "cljs/analyzer/utils.clj", :type :fn, :src "(defn to-ast\n  ([form] (to-ast 'cljs.user form))\n  ([ns form]\n    (let [env (assoc-in (ana/empty-env) [:ns :name] ns)]\n      (binding [ana/*passes*\n                (or ana/*passes*\n                  [elide-children simplify-env ana/infer-type])]\n        (ana/analyze env form)))))", :column 1, :line 24, :arglists ([form] [ns form])}