{:ns "cljs.analyzer", :name "core-name?", :file "cljs/analyzer.clj", :type :fn, :src "(defn core-name?\n  \"Is sym visible from core in the current compilation namespace?\"\n  [env sym]\n  (and (get-in @env/*compiler* [::namespaces 'cljs.core :defs sym]) \n       (not (contains? (-> env :ns :excludes) sym))))", :column 1, :line 331, :arglists ([env sym]), :doc "Is sym visible from core in the current compilation namespace?"}