{:ns "cljs.test", :name "try-expr", :file "cljs/test.clj", :type :macro, :src "(defmacro try-expr\n  \"Used by the 'is' macro to catch unexpected exceptions.\n  You don't call this.\"\n  [msg form]\n  `(try\n     ~(cljs.test/assert-expr &env msg form)\n     (catch :default t#\n       (cljs.test/do-report \n         {:type :error, :message ~msg,\n          :expected '~form, :actual t#}))))", :column 1, :line 134, :macro true, :arglists ([msg form]), :doc "Used by the 'is' macro to catch unexpected exceptions.\n  You don't call this."}