{:ns "cljs.analyzer", :name "source-info", :file "cljs/analyzer.clj", :type :fn, :src "(defn source-info\n  ([env]\n     (when-let [line (:line env)]\n       {:file *cljs-file*\n        :line (get-line name env)\n        :column (get-col name env)}))\n  ([name env]\n     {:file *cljs-file*\n      :line (get-line name env)\n      :column (get-col name env)}))", :column 1, :line 266, :arglists ([env] [name env])}