{:ns "cljs.source-map", :name "seg-combine", :file "cljs/source_map.clj", :type :fn, :src "(defn seg-combine\n  \"Combine a source map segment vector and a relative\n   source map segment vector and combine them to get\n   an absolute segment posititon information as a vector.\"\n  [seg relseg]\n  (let [[gcol source line col name] seg\n        [rgcol rsource rline rcol rname] relseg\n        nseg [(+ gcol rgcol)\n              (+ (or source 0) rsource)\n              (+ (or line 0) rline)\n              (+ (or col 0) rcol)\n              (+ (or name 0) rname)]]\n    (if name\n      (with-meta nseg {:name (+ name rname)})\n      nseg)))", :column 1, :line 65, :arglists ([seg relseg]), :doc "Combine a source map segment vector and a relative\n   source map segment vector and combine them to get\n   an absolute segment posititon information as a vector."}