{:ns "cljs.repl.browser", :name "constrain-order", :file "cljs/repl/browser.clj", :type :fn, :src "(defn constrain-order\n  \"Elements to be printed in the REPL will arrive out of order. Ensure\n  that they are printed in the correct order.\"\n  [order f]\n  (send-off ordering add-in-order order f)\n  (send-off ordering run-in-order))", :column 1, :line 136, :arglists ([order f]), :doc "Elements to be printed in the REPL will arrive out of order. Ensure\n  that they are printed in the correct order."}