{:ns "cljs.core", :name "number?", :file "cljs/core.clj", :type :macro, :src "(defmacro number? [x]\n  (bool-expr (core/list 'js* \"typeof ~{} === 'number'\" x)))", :column 1, :line 330, :macro true, :arglists ([x])}