{:ns "cljs.compiler", :name "mkdirs", :file "cljs/compiler.clj", :type :fn, :src "(defn mkdirs\n  \"Create all parent directories for the passed file.\"\n  [^File f]\n  (.mkdirs (.getParentFile (.getCanonicalFile f))))", :column 1, :line 856, :arglists ([f]), :doc "Create all parent directories for the passed file."}