{:ns "cljs.js-deps", :name "load-foreign-library*", :file "cljs/js_deps.clj", :type :fn, :src "(defn load-foreign-library*\n  \"Given a library spec (a map containing the keys :file\n  and :provides), returns a map containing :provides, :requires, :file\n  and :url\"\n  ([lib-spec] (load-foreign-library* lib-spec false))\n  ([lib-spec cp-only?] \n    (let [find-func (if cp-only? io/resource find-url)]\n      (merge lib-spec {:foreign true\n                       :url (find-func (:file lib-spec))}))))", :column 1, :line 171, :arglists ([lib-spec] [lib-spec cp-only?]), :doc "Given a library spec (a map containing the keys :file\n  and :provides), returns a map containing :provides, :requires, :file\n  and :url"}