{:ns "cljs.closure", :name "path-from-jarfile", :file "cljs/closure.clj", :type :fn, :src "(defn path-from-jarfile\n  \"Given the URL of a file within a jar, return the path of the file\n  from the root of the jar.\"\n  [^URL url]\n  (last (string/split (.getFile url) #\"\\.jar!/\")))", :column 1, :line 355, :arglists ([url]), :doc "Given the URL of a file within a jar, return the path of the file\n  from the root of the jar."}