{:ns "cljs.build.api", :name "target-file-for-cljs-ns", :file "cljs/build/api.clj", :type :fn, :src "(defn target-file-for-cljs-ns\n  \"Given an output directory and a clojurescript namespace return the\n  compilation target file for that namespace.\n\n  For example:\n  (target-file-from-cljs-ns \\\"resources/out\\\" 'example.core) ->\n  <File: \\\"resources/out/example/core.js\\\">\"\n  [output-dir ns-sym]\n  (util/to-target-file (cljs.closure/output-directory { :output-dir output-dir })\n                       {:ns ns-sym }))", :column 1, :line 20, :arglists ([output-dir ns-sym]), :doc "Given an output directory and a clojurescript namespace return the\n  compilation target file for that namespace.\n\n  For example:\n  (target-file-from-cljs-ns \"resources/out\" 'example.core) ->\n  <File: \"resources/out/example/core.js\">"}