{:ns "cljs.core", :name "ns-interns", :file "cljs/core.clj", :type :macro, :src "(defmacro ns-interns\n  \"Returns a map of the intern mappings for the namespace.\"\n  [[quote ns]]\n  (core/assert (core/and (= quote 'quote) (core/symbol? ns))\n    \"Argument to ns-interns must be a quoted symbol\")\n  `(into {}\n     [~@(map\n          (fn [[sym _]] `[(symbol ~(name sym)) (var ~sym)])\n          (get-in @env/*compiler* [:cljs.analyzer/namespaces ns :defs]))]))", :column 1, :line 1675, :macro true, :arglists ([[quote ns]]), :doc "Returns a map of the intern mappings for the namespace."}