{:ns "cljs.closure", :name "preamble-from-paths", :file "cljs/closure.clj", :type :fn, :src "(defn preamble-from-paths [paths]\n  (when-let [missing (seq (remove io/resource paths))]\n    (ana/warning :preamble-missing @env/*compiler* {:missing (sort missing)}))\n  (let [resources (remove nil? (map io/resource paths))]\n    (str (string/join \"\\n\" (map slurp resources)) \"\\n\")))", :column 1, :line 535, :arglists ([paths])}