{:ns "cljs.core", :name "ifn-invoke-methods", :file "cljs/core.clj", :type :fn, :src "(defn ifn-invoke-methods [type type-sym [f & meths :as form]]\n  (map\n    (fn [meth]\n      (let [arity (count (first meth))]\n        `(set! ~(extend-prefix type-sym (symbol (core/str \"cljs$core$IFn$_invoke$arity$\" arity)))\n           ~(with-meta `(fn ~meth) (meta form)))))\n    (map #(adapt-ifn-invoke-params type %) meths)))", :column 1, :line 731, :arglists ([type type-sym [f & meths :as form]])}