{:ns "cljs.analyzer", :name "locate-src", :file "cljs/analyzer.clj", :type :fn, :src "(defn locate-src [relpath]\n  (or (io/resource relpath)\n      (let [root (:root @env/*compiler*)\n            root-path (when root (.getPath ^File root))\n            f (io/file (str root-path \\/ relpath))]\n        (when (and (.exists f) (.isFile f))\n          f))))", :column 1, :line 1016, :arglists ([relpath])}