{:ns "cljs.closure", :name "same-or-subdirectory-of?", :file "cljs/closure.clj", :type :fn, :src "(defn same-or-subdirectory-of? [dir path]\n  \"Checks that path names a file or directory that is the dir or a subdirectory there of.\"\n  (let [dir-path  (.getAbsolutePath (io/file dir))\n        path-path (.getAbsolutePath (io/file path))]\n    (.startsWith path-path dir-path)))", :column 1, :line 879, :arglists ([dir path])}