{:ns "cljs.core", :name "caching-hash", :file "cljs/core.clj", :type :macro, :src "(defmacro caching-hash [coll hash-fn hash-key]\n  (assert (clojure.core/symbol? hash-key) \"hash-key is substituted twice\")\n  `(let [h# ~hash-key]\n     (if-not (nil? h#)\n       h#\n       (let [h# (~hash-fn ~coll)]\n         (set! ~hash-key h#)\n         h#))))", :column 1, :line 549, :macro true, :arglists ([coll hash-fn hash-key])}