{:ns "cljs.analyzer", :name "analyze-vector", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-vector\n  [env form]\n  (let [expr-env (assoc env :context :expr)\n        items (disallowing-recur (vec (map #(analyze expr-env %) form)))]\n    (analyze-wrap-meta {:op :vector :env env :form form :items items :children items :tag 'cljs.core/IVector})))", :column 1, :line 1538, :arglists ([env form])}