{:ns "cljs.source-map.base64", :name "decode", :file "cljs/source_map/base64.clj", :type :fn, :src "(defn ^Character decode [c]\n  (let [e (find char->int c)]\n   (if e\n     (second e)\n     (throw (Error. (str \"Not a valid base 64 digit: \" c))))))", :column 1, :line 13, :tag java.lang.Character, :arglists ([c])}