{:ns "cljs.closure", :name "output-path", :file "cljs/closure.clj", :type :fn, :src "(defn ^String output-path\n  \"Given an IJavaScript which is either in memory or in a jar file,\n  return the output path for this file relative to the working\n  directory.\"\n  [js]\n  (if-let [url ^URL (deps/-url js)]\n    (path-from-jarfile url)\n    (str (random-string 5) \".js\")))", :column 1, :line 753, :tag java.lang.String, :arglists ([js]), :doc "Given an IJavaScript which is either in memory or in a jar file,\n  return the output path for this file relative to the working\n  directory."}