{:ns "cljs.core", :name "time", :file "cljs/core.clj", :type :macro, :src "(defmacro time\n  \"Evaluates expr and prints the time it took. Returns the value of expr.\"\n  [expr]\n  `(let [start# (.getTime (js/Date.))\n         ret# ~expr]\n     (prn (core/str \"Elapsed time: \" (- (.getTime (js/Date.)) start#) \" msecs\"))\n     ret#))", :column 1, :line 1594, :macro true, :arglists ([expr]), :doc "Evaluates expr and prints the time it took. Returns the value of expr."}