{:ns "cljs.test", :name "assert-any", :file "cljs/test.clj", :type :fn, :src "(defn assert-any\n  \"Returns generic assertion code for any test, including macros, Java\n  method calls, or isolated symbols.\"\n  [msg form]\n  `(let [value# ~form]\n     (if value#\n       (cljs.test/do-report\n         {:type :pass, :message ~msg,\n          :expected '~form, :actual value#})\n       (cljs.test/do-report\n         {:type :fail, :message ~msg,\n          :expected '~form, :actual value#}))\n     value#))", :column 1, :line 43, :arglists ([msg form]), :doc "Returns generic assertion code for any test, including macros, Java\n  method calls, or isolated symbols."}