{:ns "cljs.core", :name "pos?", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric pos? [x]\n  `(> ~x 0))", :column 1, :line 468, :macro true, :arglists ([x]), :cljs.analyzer/numeric true}