{:ns "cljs.closure", :name "compile-dir", :file "cljs/closure.clj", :type :fn, :src "(defn compile-dir\n  \"Recursively compile all cljs files under the given source\n  directory. Return a list of JavaScriptFiles.\"\n  [^File src-dir opts]\n  (let [out-dir (output-directory opts)]\n    (map compiled-file\n         (comp/compile-root src-dir out-dir opts))))", :column 1, :line 347, :arglists ([src-dir opts]), :doc "Recursively compile all cljs files under the given source\n  directory. Return a list of JavaScriptFiles."}