{:ns "cljs.core", :name "js-delete", :file "cljs/core.clj", :type :macro, :src "(defmacro js-delete [obj key]\n  (core/list 'js* \"delete ~{}[~{}]\" obj key))", :column 1, :line 286, :macro true, :arglists ([obj key])}