{:ns "cljs.closure", :name "check-source-map-path", :file "cljs/closure.clj", :type :fn, :src "(defn check-source-map-path [{:keys [source-map-path] :as opts}]\n  (when (contains? opts :source-map-path)\n    (assert (string? source-map-path)\n            (format \":source-map-path %s must be a directory\"\n                    source-map-path))\n    (when-not (= (:optimizations opts) :none)\n      (assert (and (contains? opts :output-to)\n                   (contains? opts :source-map))\n        \":source-map-path cannot be specified without also specifying :output-to and :source-map if optimization setting applied\")))\n  true)", :column 1, :line 921, :arglists ([{:keys [source-map-path], :as opts}])}