{:type :fn, :src "(defrecord BrowserEnv []\n  repl/IJavaScriptEnv\n  (-setup [this]\n    (do (require 'cljs.repl.reflect)\n        (repl/analyze-source (:src this))\n        (comp/with-core-cljs nil (fn [] (server/start this)))))\n  (-evaluate [_ _ _ js] (browser-eval js))\n  (-load [this ns url] (load-javascript this ns url))\n  (-tear-down [_]\n    (do (server/stop)\n        (reset! server/state {})\n        (reset! browser-state {}))))", :ns "cljs.repl.browser", :name "->BrowserEnv", :file "cljs/repl/browser.clj", :column 1, :line 181, :arglists ([]), :doc "Positional factory function for class cljs.repl.browser.BrowserEnv."}