{:ns "cljs.core", :name "adapt-ifn-params", :file "cljs/core.clj", :type :fn, :src "(defn adapt-ifn-params [type [[this & args :as sig] & body]]\n  (let [self-sym (with-meta 'self__ {:tag type})]\n    `(~(vec (cons self-sym args))\n       (this-as ~self-sym\n         (let [~this ~self-sym]\n           ~@body)))))", :column 1, :line 707, :arglists ([type [[this & args :as sig] & body]])}