{:ns "cljs.analyzer", :name "analysis-error?", :file "cljs/analyzer.clj", :type :fn, :src "(defn analysis-error? [ex]\n  (= :cljs/analysis-error (:tag (ex-data ex))))", :column 1, :line 292, :arglists ([ex])}