{:ns "cljs.analyzer", :name "parse-ns-excludes", :file "cljs/analyzer.clj", :type :fn, :src "(defn parse-ns-excludes [env args]\n  (reduce\n    (fn [s [k exclude xs]]\n      (if (= k :refer-clojure)\n        (do\n          (when-not (= exclude :exclude) \n            (throw (error env \"Only [:refer-clojure :exclude (names)] form supported\")))\n          (when (seq s)\n            (throw (error env \"Only one :refer-clojure form is allowed per namespace definition\")))\n          (into s xs))\n        s))\n    #{} args))", :column 1, :line 1083, :arglists ([env args])}