{:ns "cljs.closure", :name "check-output-dir", :file "cljs/closure.clj", :type :fn, :src "(defn check-output-dir [{:keys [output-dir] :as opts}]\n  (when (contains? opts :output-dir)\n    (assert (string? output-dir)\n            (format \":output-dir %s must specify a directory\"\n                    (pr-str output-dir))))\n  true)", :column 1, :line 893, :arglists ([{:keys [output-dir], :as opts}])}