{:ns "cljs.core", :name "validate-impls", :file "cljs/core.clj", :type :fn, :src "(defn validate-impls [env impls]\n  (loop [protos #{} impls impls]\n    (when (seq impls)\n      (let [proto   (first impls)\n            methods (take-while seq? (next impls))\n            impls   (drop-while seq? (next impls))]\n        (when (contains? protos proto)\n          (ana/warning :protocol-multiple-impls env {:protocol proto}))\n        (core/doseq [method methods]\n          (validate-impl-sigs env proto method))\n        (recur (conj protos proto) impls)))))", :column 1, :line 803, :arglists ([env impls])}