{:ns "cljs.core", :name "unchecked-dec-int", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric unchecked-dec-int\n  ([x] `(dec ~x)))", :column 1, :line 380, :macro true, :arglists ([x]), :cljs.analyzer/numeric true}