{:ns "cljs.repl.rhino", :name "load-javascript", :file "cljs/repl/rhino.clj", :type :fn, :src "(defn load-javascript [repl-env ns url]\n  (let [missing (remove #(contains? @(:loaded-libs repl-env) %) ns)]\n    (when (seq missing)\n      (do (try\n            (with-open [reader (io/reader url)]\n              (-eval reader repl-env (.toString url) 1))\n            ;; TODO: don't show errors for goog/base.js line number 105\n            (catch Throwable ex (println (.getMessage ex))))\n          (swap! (:loaded-libs repl-env) (partial apply conj) missing)))))", :column 1, :line 86, :arglists ([repl-env ns url])}