{:ns "cljs.core", :name "js-obj*", :file "cljs/core.clj", :type :fn, :src "(defn js-obj* [kvs]\n  (let [kvs-str (->> (repeat \"~{}:~{}\")\n                     (take (count kvs))\n                     (interpose \",\")\n                     (apply core/str))]\n    (vary-meta\n      (list* 'js* (core/str \"{\" kvs-str \"}\") (apply concat kvs))\n      assoc :tag 'object)))", :column 1, :line 1463, :arglists ([kvs])}