{:ns "cljs.analyzer", :name "find-matching-method", :file "cljs/analyzer.clj", :type :fn, :src "(defn find-matching-method [f params]\n  ;; if local fn, need to look in :info\n  (let [methods (or (:methods f) (-> f :info :methods))\n        c       (count params)]\n    (some\n      (fn [m]\n        (and (or (== (:max-fixed-arity m) c)\n                 (:variadic m))\n             m))\n      methods)))", :column 1, :line 435, :arglists ([f params])}