{:ns "cljs.js-deps", :name "build-index", :file "cljs/js_deps.clj", :type :fn, :src "(defn build-index\n  \"Index a list of dependencies by namespace and file name. There can\n  be zero or more namespaces provided per file.\"\n  [deps]\n  (reduce (fn [m next]\n            (let [provides (:provides next)]\n              (-> (if (seq provides)\n                    (reduce (fn [m* provide]\n                              (assoc m* provide next))\n                            m\n                            provides)\n                    m)\n                  (assoc (:file next) next))))\n          {}\n          deps))", :column 1, :line 108, :arglists ([deps]), :doc "Index a list of dependencies by namespace and file name. There can\n  be zero or more namespaces provided per file."}