{:ns "cljs.test", :name "testing", :file "cljs/test.clj", :type :macro, :src "(defmacro testing\n  \"Adds a new string to the list of testing contexts.  May be nested,\n  but must occur inside a test function (deftest).\"\n  ([string & body]\n   `(do\n      (cljs.test/update-current-env! [:testing-contexts] conj ~string)\n      (let [ret# (do ~@body)]\n        (cljs.test/update-current-env! [:testing-contexts] rest)\n        ret#))))", :column 1, :line 166, :macro true, :arglists ([string & body]), :doc "Adds a new string to the list of testing contexts.  May be nested,\n  but must occur inside a test function (deftest)."}