{:type :fn, :src "(defrecord RhinoEnv [loaded-libs]\n  repl/IJavaScriptEnv\n  (-setup [this]\n    (rhino-setup this))\n  (-evaluate [this filename line js]\n    (rhino-eval this filename line js))\n  (-load [this ns url]\n    (load-javascript this ns url))\n  (-tear-down [_] (Context/exit)))", :ns "cljs.repl.rhino", :name "map->RhinoEnv", :file "cljs/repl/rhino.clj", :column 1, :line 113, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.repl.rhino.RhinoEnv, taking a map of keywords to field values."}