{:ns "cljs.core", :name "vswap!", :file "cljs/core.clj", :type :macro, :src "(defmacro vswap!\n  \"Non-atomically swaps the value of the volatile as if:\n   (apply f current-value-of-vol args). Returns the value that\n   was swapped in.\"\n  [vol f & args]\n  `(-vreset! ~vol (~f (-deref ~vol) ~@args)))", :column 1, :line 1685, :macro true, :arglists ([vol f & args]), :doc "Non-atomically swaps the value of the volatile as if:\n   (apply f current-value-of-vol args). Returns the value that\n   was swapped in."}