{:ns "cljs.analyzer", :name "analyze-map", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-map\n  [env form]\n  (let [expr-env (assoc env :context :expr)\n        ks (disallowing-recur (vec (map #(analyze expr-env %) (keys form))))\n        vs (disallowing-recur (vec (map #(analyze expr-env %) (vals form))))]\n    (analyze-wrap-meta {:op :map :env env :form form\n                        :keys ks :vals vs\n                        :children (vec (interleave ks vs))\n                        :tag 'cljs.core/IMap})))", :column 1, :line 1522, :arglists ([env form])}