{:ns "cljs.js-deps", :name "goog-resource", :file "cljs/js_deps.clj", :type :fn, :src "(defn goog-resource\n  \"Helper to disambiguate Google Closure Library resources from Google\n   Closure Library Third Party resoures.\"\n  [path]\n  (first\n    (filter\n      (fn [res]\n        (re-find #\"(\\/google-closure-library-0.0*|\\/google-closure-library\\/)\" (.getPath res)))\n      (enumeration-seq (.getResources (.getContextClassLoader (Thread/currentThread)) path)))))", :column 1, :line 225, :arglists ([path]), :doc "Helper to disambiguate Google Closure Library resources from Google\n   Closure Library Third Party resoures."}