{:ns "cljs.env", :name "ensure", :file "cljs/env.clj", :type :macro, :src "(defmacro ensure\n  [& body]\n  `(let [val# *compiler*]\n     (if (nil? val#)\n       (push-thread-bindings\n         (hash-map (var *compiler*) (default-compiler-env))))\n     (try\n       ~@body\n       (finally\n         (if (nil? val#)\n           (pop-thread-bindings))))))", :column 1, :line 61, :macro true, :arglists ([& body])}