{:ns "cljs.analyzer", :name "use->require", :file "cljs/analyzer.clj", :type :fn, :src "(defn use->require [env [lib kw referred :as spec]]\n  (when-not (and (symbol? lib) (= :only kw) (sequential? referred) (every? symbol? referred))\n    (throw\n      (error env\n        (parse-ns-error-msg spec\n          \"Only [lib.ns :only (names)] specs supported in :use / :use-macros\"))))\n  [lib :refer referred])", :column 1, :line 1096, :arglists ([env [lib kw referred :as spec]])}