{:ns "cljs.closure", :name "get-compiled-cljs", :file "cljs/closure.clj", :type :fn, :src "(defn get-compiled-cljs\n  \"Return an IJavaScript for this file. Compiled output will be\n   written to the working directory.\"\n  [opts {:keys [relative-path uri]}]\n  (let [js-file (comp/rename-to-js relative-path)]\n    (-compile uri (merge opts {:output-file js-file}))))", :column 1, :line 458, :arglists ([opts {:keys [relative-path uri]}]), :doc "Return an IJavaScript for this file. Compiled output will be\n   written to the working directory."}