{:ns "cljs.compiler", :name "emit-comment", :file "cljs/compiler.clj", :type :fn, :src "(defn emit-comment\n  \"Emit a nicely formatted comment string.\"\n  [doc jsdoc]\n  (let [docs (when doc [doc])\n        docs (if jsdoc (concat docs jsdoc) docs)\n        docs (remove nil? docs)]\n    (letfn [(print-comment-lines [e] (doseq [next-line (string/split-lines e)]\n                                       (emitln \"* \" (string/trim next-line))))]\n      (when (seq docs)\n        (emitln \"/**\")\n        (doseq [e docs]\n          (when e\n            (print-comment-lines e)))\n        (emitln \"*/\")))))", :column 1, :line 412, :arglists ([doc jsdoc]), :doc "Emit a nicely formatted comment string."}