{:ns "cljs.closure", :name "add-dep-string", :file "cljs/closure.clj", :type :fn, :src "(defn add-dep-string\n  \"Return a goog.addDependency string for an input.\"\n  [opts input]\n  (letfn [(ns-list [coll] (when (seq coll) (apply str (interpose \", \" (map #(str \"'\" (comp/munge %) \"'\") coll)))))]\n    (str \"goog.addDependency(\\\"\"\n         (path-relative-to (io/file (output-directory opts) \"goog/base.js\") input)\n         \"\\\", [\"\n         (ns-list (deps/-provides input))\n         \"], [\"\n         (ns-list (deps/-requires input))\n         \"]);\")))", :column 1, :line 722, :arglists ([opts input]), :doc "Return a goog.addDependency string for an input."}