{:ns "cljs.closure", :name "add-source-map-link", :file "cljs/closure.clj", :type :fn, :src "(defn add-source-map-link [{:keys [source-map output-to] :as opts} js]\n  (if source-map\n      (if (= output-to :print)\n        (str js \"\\n//# sourceMappingURL=\" source-map)\n        (str js \"\\n//# sourceMappingURL=\" (path-relative-to (io/file output-to) {:url source-map})))\n    js))", :column 1, :line 861, :arglists ([{:keys [source-map output-to], :as opts} js])}