{:ns "cljs.compiler", :name "emit-str", :file "cljs/compiler.clj", :type :fn, :src "(defn ^String emit-str [expr]\n  (with-out-str (emit expr)))", :column 1, :line 162, :tag java.lang.String, :arglists ([expr])}