{:ns "cljs.core", :name "assert", :file "cljs/core.clj", :type :macro, :src "(defmacro assert\n  \"Evaluates expr and throws an exception if it does not evaluate to\n  logical true.\"\n  ([x]\n     (when *assert*\n       `(when-not ~x\n          (throw (js/Error.\n                  (cljs.core/str \"Assert failed: \" (cljs.core/pr-str '~x)))))))\n  ([x message]\n     (when *assert*\n       `(when-not ~x\n          (throw (js/Error.\n                  (cljs.core/str \"Assert failed: \" ~message \"\\n\" (cljs.core/pr-str '~x))))))))", :column 1, :line 1239, :macro true, :arglists ([x] [x message]), :doc "Evaluates expr and throws an exception if it does not evaluate to\n  logical true."}