{:ns "cljs.analyzer", :name "with-core-macros-file", :file "cljs/analyzer.clj", :type :macro, :src "(defmacro with-core-macros-file\n  [path & body]\n  `(do\n     (when (not= *cljs-macros-path* ~path)\n       (reset! -cljs-macros-loaded false))\n     (binding [*cljs-macros-path* ~path\n               *cljs-macros-is-classpath* false]\n       ~@body)))", :column 1, :line 242, :macro true, :arglists ([path & body])}