{:ns "cljs.js-deps", :name "load-library*", :file "cljs/js_deps.clj", :type :fn, :src "(defn load-library*\n  \"Given a path to a JavaScript library, which is a directory\n  containing Javascript files, return a list of maps\n  containing :provides, :requires, :file and :url.\"\n  [path]\n  (->> (find-js-resources path)\n    (map library-graph-node)\n    (filter #(seq (:provides %)))))", :column 1, :line 191, :arglists ([path]), :doc "Given a path to a JavaScript library, which is a directory\n  containing Javascript files, return a list of maps\n  containing :provides, :requires, :file and :url."}