{:ns "cljs.closure", :name "make-closure-compiler", :file "cljs/closure.clj", :type :fn, :src "(defn ^com.google.javascript.jscomp.Compiler make-closure-compiler []\n  (let [compiler (com.google.javascript.jscomp.Compiler.)]\n    (do (com.google.javascript.jscomp.Compiler/setLoggingLevel Level/WARNING)\n        compiler)))", :column 1, :line 218, :tag com.google.javascript.jscomp.Compiler, :arglists ([])}