{:type :fn, :src "(defrecord RhinoEnv [loaded-libs]\n  repl/IJavaScriptEnv\n  (-setup [this]\n    (rhino-setup this))\n  (-evaluate [this filename line js]\n    (rhino-eval this filename line js))\n  (-load [this ns url]\n    (load-javascript this ns url))\n  (-tear-down [_] (Context/exit)))", :ns "cljs.repl.rhino", :name "->RhinoEnv", :file "cljs/repl/rhino.clj", :column 1, :line 113, :arglists ([loaded-libs]), :doc "Positional factory function for class cljs.repl.rhino.RhinoEnv."}