{:ns "cljs.closure", :name "write-javascript", :file "cljs/closure.clj", :type :fn, :src "(defn write-javascript\n  \"Write a JavaScript file to disk. Only write if the file does not\n  already exist. Return IJavaScript for the file on disk.\"\n  [opts js]\n  (let [out-dir (io/file (output-directory opts))\n        out-name (output-path js)\n        out-file (io/file out-dir out-name)]\n    (do (when-not (.exists out-file)\n          (do (comp/mkdirs out-file)\n              (spit out-file (deps/-source js))))\n        {:url (deps/to-url out-file) :requires (deps/-requires js)\n         :provides (deps/-provides js) :group (:group js)})))", :column 1, :line 763, :arglists ([opts js]), :doc "Write a JavaScript file to disk. Only write if the file does not\n  already exist. Return IJavaScript for the file on disk."}