{:ns "cljs.closure", :name "read-js", :file "cljs/closure.clj", :type :fn, :src "(defn read-js\n  \"Read a JavaScript file returning a map of file information.\"\n  [f]\n  (let [source (slurp f)\n        m (deps/parse-js-ns (string/split-lines source))]\n    (map->javascript-file (assoc m :file f))))", :column 1, :line 292, :arglists ([f]), :doc "Read a JavaScript file returning a map of file information."}