{:ns "cljs.repl", :name "load-file", :file "cljs/repl.clj", :type :fn, :src "(defn load-file\n  [repl-env f]\n  (binding [ana/*cljs-ns* 'cljs.user]\n    (let [res (if (= \\/ (first f)) f (io/resource f))]\n      (assert res (str \"Can't find \" f \" in classpath\"))\n      (load-stream repl-env f res))))", :column 1, :line 133, :arglists ([repl-env f])}