{:ns "cljs.closure", :name "check-output-wrapper", :file "cljs/closure.clj", :type :fn, :src "(defn check-output-wrapper [{:keys [output-wrapper optimizations]}]\n  (assert (not (and output-wrapper (= :whitespace optimizations)))\n          \":output-wrapper cannot be combined with :optimizations :whitespace\"))", :column 1, :line 932, :arglists ([{:keys [output-wrapper optimizations]}])}