{:ns "cljs.test", :name "function?", :file "cljs/test.clj", :type :fn, :src "(defn function?\n  \"Returns true if argument is a function or a symbol that resolves to\n  a function (not a macro).\"\n  [menv x]\n  (and (symbol? x) (:fn-var (ana-api/resolve menv x))))", :column 1, :line 17, :arglists ([menv x]), :doc "Returns true if argument is a function or a symbol that resolves to\n  a function (not a macro)."}