{:ns "cljs.core", :name "this-as", :file "cljs/core.clj", :type :macro, :src "(defmacro this-as\n  \"Defines a scope where JavaScript's implicit \\\"this\\\" is bound to the name provided.\"\n  [name & body]\n  `(let [~name (js-this)]\n     ~@body))", :column 1, :line 643, :macro true, :arglists ([name & body]), :doc "Defines a scope where JavaScript's implicit \"this\" is bound to the name provided."}