{:ns "cljs.analyzer", :name "analyze-set", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-set\n  [env form ]\n  (let [expr-env (assoc env :context :expr)\n        items (disallowing-recur (vec (map #(analyze expr-env %) form)))]\n    (analyze-wrap-meta {:op :set :env env :form form :items items :children items :tag 'cljs.core/ISet})))", :column 1, :line 1544, :arglists ([env form])}