{:ns "cljs.core", :name "dec", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric dec [x]\n  `(- ~x 1))", :column 1, :line 459, :macro true, :arglists ([x]), :cljs.analyzer/numeric true}