{:ns "cljs.core", :name "bit-not", :file "cljs/core.clj", :type :macro, :src "(defmacro ^::ana/numeric bit-not [x]\n  (core/list 'js* \"(~ ~{})\" x))", :column 1, :line 489, :macro true, :arglists ([x]), :cljs.analyzer/numeric true}