{:ns "cljs.repl.server", :name "read-post", :file "cljs/repl/server.clj", :type :fn, :src "(defn read-post [line rdr]\n  (let [[_ path _] (str/split line #\" \")\n        headers (parse-headers (read-headers rdr))\n        content-length (Integer/parseInt (:content-length headers))\n        content (char-array content-length)]\n    (io! (.read rdr content 0 content-length)\n         {:method :post\n          :path path\n          :headers headers\n          :content (String. content)})))", :column 1, :line 77, :arglists ([line rdr])}