{:ns "cljs.build.api", :name "mark-cljs-ns-for-recompile!", :file "cljs/build/api.clj", :type :fn, :src "(defn mark-cljs-ns-for-recompile!\n  \"Backdates a cljs target file so that it the cljs compiler will recompile it.\"\n  [output-dir ns-sym]\n  (let [s (target-file-for-cljs-ns output-dir ns-sym)]\n    (when (.exists s)\n      (.setLastModified s 5000))))", :column 1, :line 31, :arglists ([output-dir ns-sym]), :doc "Backdates a cljs target file so that it the cljs compiler will recompile it."}