{:ns "cljs.compiler", :name "requires-compilation?", :file "cljs/compiler.clj", :type :fn, :src "(defn requires-compilation?\n  \"Return true if the src file requires compilation.\"\n  ([src dest] (requires-compilation? src dest nil))\n  ([^File src ^File dest opts]\n    (env/ensure\n      (or (not (.exists dest))\n          (> (.lastModified src) (.lastModified dest))\n          (let [version' (util/compiled-by-version dest)\n                version  (util/clojurescript-version)]\n            (and version (not= version version')))\n          (and opts\n            (:source-map opts)\n            (if (= (:optimizations opts) :none)\n              (not (.exists (io/file (str (.getPath dest) \".map\"))))\n              (not (get-in @env/*compiler* [::compiled-cljs (.getAbsolutePath dest)]))))))))", :column 1, :line 926, :arglists ([src dest] [src dest opts]), :doc "Return true if the src file requires compilation."}