{:ns "cljs.core", :name "gen-apply-to", :file "cljs/core.clj", :type :macro, :src "(defmacro gen-apply-to []\n  `(do\n     (set! ~'*unchecked-if* true)\n     (defn ~'apply-to [~'f ~'argc ~'args]\n       (let [~'args (seq ~'args)]\n         (if (zero? ~'argc)\n           (~'f)\n           ~(gen-apply-to-helper))))\n     (set! ~'*unchecked-if* false)))", :column 1, :line 1637, :macro true, :arglists ([])}