{:ns "cljs.closure", :name "compile-form-seq", :file "cljs/closure.clj", :type :fn, :src "(defn compile-form-seq\n  \"Compile a sequence of forms to a JavaScript source string.\"\n  [forms]\n  (comp/with-core-cljs nil\n    (fn []\n      (with-out-str\n        (binding [ana/*cljs-ns* 'cljs.user]\n          (doseq [form forms]\n            (comp/emit (ana/analyze (ana/empty-env) form))))))))", :column 1, :line 306, :arglists ([forms]), :doc "Compile a sequence of forms to a JavaScript source string."}