{:ns "cljs.compiler", :name "with-core-cljs", :file "cljs/compiler.clj", :type :fn, :src "(defn with-core-cljs\n  \"Ensure that core.cljs has been loaded.\"\n  ([] (with-core-cljs nil))\n  ([opts] (with-core-cljs opts (fn [])))\n  ([opts body]\n     (do\n       (when-not (get-in @env/*compiler* [::ana/namespaces 'cljs.core :defs])\n         (ana/analyze-file \"cljs/core.cljs\" opts))\n       (body))))", :column 1, :line 861, :arglists ([] [opts] [opts body]), :doc "Ensure that core.cljs has been loaded."}