{:ns "cljs.analyzer", :name "requires-analysis?", :file "cljs/analyzer.clj", :type :fn, :src "(defn requires-analysis? [^File f ^File cache]\n  (or (not (.exists cache))\n      (> (.lastModified f) (.lastModified cache))\n      (let [version' (util/compiled-by-version cache)\n            version  (util/clojurescript-version)]\n        (and version (not= version version')))))", :column 1, :line 1690, :arglists ([f cache])}