{:ns "cljs.analyzer", :name "gen-constant-id", :file "cljs/analyzer.clj", :type :fn, :src "(defn gen-constant-id [value]\n  (let [prefix (cond\n                 (keyword? value) \"constant$keyword$\"\n                 :else\n                 (throw\n                   (Exception. (str \"constant type \" (type value) \" not supported\"))))]\n    (symbol (str prefix (swap! constant-counter inc)))))", :column 1, :line 178, :arglists ([value])}