{:ns "cljs.js-deps", :name "find-url", :file "cljs/js_deps.clj", :type :fn, :src "(defn find-url\n  \"Given a string, returns a URL. Attempts to resolve as a classpath-relative\n  path, then as a path relative to the working directory or a URL string\"\n  [path-or-url]\n  (or (io/resource path-or-url)\n      (try (io/as-url path-or-url)\n           (catch java.net.MalformedURLException e\n             false))\n      (io/as-url (io/as-file path-or-url))))", :column 1, :line 161, :arglists ([path-or-url]), :doc "Given a string, returns a URL. Attempts to resolve as a classpath-relative\n  path, then as a path relative to the working directory or a URL string"}