{:ns "cljs.test", :name "use-fixtures", :file "cljs/test.clj", :type :macro, :src "(defmacro use-fixtures [type & fns]\n  (condp = type\n    :once\n    `(def ~'cljs-test-once-fixtures\n       [~@fns])\n    :each\n    `(def ~'cljs-test-each-fixtures\n       [~@fns])\n    :else\n    (throw\n      (Exception. \"First argument to cljs.test/use-fixtures must be :once or :each\"))))", :column 1, :line 304, :macro true, :arglists ([type & fns])}