{:ns "cljs.tagged-literals", :name "read-uuid", :file "cljs/tagged_literals.clj", :type :fn, :src "(defn read-uuid\n  [form]\n  (when-not (string? form)\n    (throw (RuntimeException. \"UUID literal expects a string as its representation.\")))\n  (try\n    (java.util.UUID/fromString form)\n    (catch Throwable e\n      (throw (RuntimeException. (.getMessage e))))))", :column 1, :line 10, :arglists ([form])}