{:ns "cljs.closure", :name "check-output-to", :file "cljs/closure.clj", :type :fn, :src "(defn check-output-to [{:keys [output-to] :as opts}]\n  (when (contains? opts :output-to)\n    (assert (or (string? output-to)\n                (= :print output-to))\n            (format \":output-to %s must specify a file or be :print\"\n                    (pr-str output-to))))\n  true)", :column 1, :line 885, :arglists ([{:keys [output-to], :as opts}])}