{:ns "cljs.closure", :name "javascript-file", :file "cljs/closure.clj", :type :fn, :src "(defn javascript-file\n  ([foreign ^URL url provides requires]\n     (javascript-file foreign url nil provides requires nil nil))\n  ([foreign ^URL url source-url provides requires lines source-map]\n    (assert (first provides) (str source-url \" does not provide a namespace\"))\n    (JavaScriptFile. foreign url source-url (map name provides) (map name requires) lines source-map)))", :column 1, :line 273, :arglists ([foreign url provides requires] [foreign url source-url provides requires lines source-map])}