{:ns "cljs.repl.server", :name "read-headers", :file "cljs/repl/server.clj", :type :fn, :src "(defn read-headers [rdr]\n  (loop [next-line (.readLine rdr)\n         header-lines []]\n    (if (= \"\" next-line)\n      header-lines                      ;we're done reading headers\n      (recur (.readLine rdr) (conj header-lines next-line)))))", :column 1, :line 70, :arglists ([rdr])}