{:ns "cljs.closure", :name "cljs-source-for-namespace", :file "cljs/closure.clj", :type :fn, :src "(defn cljs-source-for-namespace\n  \"Returns a map containing :relative-path, :uri referring to the resource that\nshould contain the source for the given namespace name.\"\n  [ns]\n  (as-> (munge ns) %\n    (string/replace % \\. \\/)\n    (str % \".cljs\")\n    {:relative-path % :uri (io/resource %)}))", :column 1, :line 465, :arglists ([ns]), :doc "Returns a map containing :relative-path, :uri referring to the resource that\nshould contain the source for the given namespace name."}