{:ns "cljs.analyzer.utils", :name "simplify-env", :file "cljs/analyzer/utils.clj", :type :fn, :src "(defn simplify-env [_ {:keys [op] :as ast}]\n  (let [env (:env ast)\n        ast (if (= op :fn)\n              (assoc ast :methods\n                (map #(simplify-env nil %) (:methods ast)))\n              ast)]\n    (assoc (dissoc ast :env)\n      :env {:context (:context env)})))", :column 1, :line 12, :arglists ([_ {:keys [op], :as ast}])}