{:ns "cljs.js-deps", :name "find-js-resources", :file "cljs/js_deps.clj", :type :fn, :src "(defn find-js-resources [path]\n  \"Returns a seq of URLs to all JavaScript resources on the classpath or within\na given (directory) path on the filesystem. [path] only applies to the latter\ncase.\"\n  (let [file (io/file path)]\n    (if (.exists file)\n      (find-js-fs path)\n      (find-js-classpath path))))", :column 1, :line 70, :arglists ([path])}