{:ns "cljs.analyzer", :name "analyze-wrap-meta", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-wrap-meta [expr]\n  (let [form (:form expr)\n        m    (dissoc (meta form) :file :line :column :end-column :end-line :source)]\n    (if (seq m)\n      (let [env (:env expr) ; take on expr's context ourselves\n            expr (assoc-in expr [:env :context] :expr) ; change expr to :expr\n            meta-expr (analyze-map (:env expr) m)]\n        {:op :meta :env env :form form\n         :meta meta-expr :expr expr :children [meta-expr expr]})\n      expr)))", :column 1, :line 1566, :arglists ([expr])}