{:ns "cljs.js-deps", :name "find-js-classpath", :file "cljs/js_deps.clj", :type :fn, :src "(defn find-js-classpath \n  \"Returns a seq of URLs of all JavaScript files on the classpath.\"\n  [path]\n  (->> (all-classpath-urls)\n    (map io/file)\n    (reduce\n      (fn [files jar-or-dir]\n        (let [name (.toLowerCase (.getName jar-or-dir))\n              ext  (.substring name (inc (.lastIndexOf name \".\")))]\n          (->> (when (.exists jar-or-dir)\n                 (cond\n                   (.isDirectory jar-or-dir)\n                   (find-js-fs (str (.getAbsolutePath jar-or-dir) \"/\" path))\n\n                   (#{\"jar\" \"zip\"} ext)\n                   (find-js-jar jar-or-dir path)\n\n                   :else nil))\n            (remove nil?)\n            (into files))))\n      [])))", :column 1, :line 48, :arglists ([path]), :doc "Returns a seq of URLs of all JavaScript files on the classpath."}