{:ns "cljs.source-map.base64-vlq", :name "vlq-continuation-bit", :file "cljs/source_map/base64_vlq.clj", :type :var, :src "(def ^:const vlq-continuation-bit vlq-base)", :column 1, :const true, :line 8}