{:ns "cljs.analyzer", :name "type?", :file "cljs/analyzer.clj", :type :fn, :src "(defn type? [env t]\n  ;; don't use resolve-existing-var to avoid warnings\n  (when (and t (symbol? t))\n    (let [var (resolve-var env t)]\n      (or (:type var)\n          (-> var :info :type)\n          (:protocol-symbol var)\n          ;; need to hard code some cases because of\n          ;; forward declaration - David\n          ('#{cljs.core/PersistentHashMap\n              cljs.core/List} t)))))", :column 1, :line 446, :arglists ([env t])}