{:ns "cljs.analyzer", :name "analyze-js-value", :file "cljs/analyzer.clj", :type :fn, :src "(defn analyze-js-value\n  [env ^JSValue form]\n  (let [val (.val form)\n        expr-env (assoc env :context :expr)\n        items (if (map? val)\n                (zipmap (keys val)\n                        (disallowing-recur (doall (map #(analyze expr-env %) (vals val)))))\n                (disallowing-recur (doall (map #(analyze expr-env %) val))))]\n    {:op :js-value\n     :js-type (if (map? val) :object :array)\n     :env env\n     :form form\n     :items items\n     :children items\n     :tag (if (map? val) 'object 'array)}))", :column 1, :line 1550, :arglists ([env form])}