{:ns "cljs.repl", :name "load-stream", :file "cljs/repl.clj", :type :fn, :src "(defn load-stream [repl-env filename res]\n  (let [env (ana/empty-env)]\n    (doseq [form (ana/forms-seq res filename)]\n      (let [env (assoc env :ns (ana/get-namespace ana/*cljs-ns*))]\n        (evaluate-form repl-env env filename form)))))", :column 1, :line 127, :arglists ([repl-env filename res])}