{:type :var, :src "(defprotocol IJavaScript\n  (-foreign? [this] \"Whether the Javascript represents a foreign\n  library (a js file that not have any goog.provide statement\")\n  (-url [this] \"The URL where this JavaScript is located. Returns nil\n  when JavaScript exists in memory only.\")\n  (-provides [this] \"A list of namespaces that this JavaScript provides.\")\n  (-requires [this] \"A list of namespaces that this JavaScript requires.\")\n  (-source [this] \"The JavaScript source string.\"))", :doc nil, :ns "cljs.js-deps", :name "IJavaScript", :file "cljs/js_deps.clj", :column 1, :line 99}