{:ns "cljs.repl.server", :name "parse-headers", :file "cljs/repl/server.clj", :type :fn, :src "(defn parse-headers\n  \"Parse the headers of an HTTP POST request.\"\n  [header-lines]\n  (apply hash-map\n   (mapcat\n    (fn [line]\n      (let [[k v] (str/split line #\":\" 2)]\n        [(keyword (str/lower-case k)) (str/triml v)]))\n    header-lines)))", :column 1, :line 60, :arglists ([header-lines]), :doc "Parse the headers of an HTTP POST request."}